@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

a {
    text-decoration: none;
    color: black;
}

.accordion {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.accordion:hover .plus-icon {
    display: block;
}

.accordion-items {
    border: 0.2rem solid lightgrey;
    border-radius: 1rem;
    padding: 1rem;
    display: block;
}

.plus-icon {
    width: 1.5rem;
    display: none;
    transition: 0.5s all ease;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.accordion-meme img {
    height: 15rem;
}

.accordion-meme {
    display: none;
}

.accordion-items:hover {
    cursor: pointer;
}

.accordion-items:hover .plus-icon {
    transform: rotate(45deg);
}

.accordion-meme:target,
.accordion-items:hover > .accordion-meme {
    display: flex;
    justify-content: center;
    animation: fadeIn 0.5s;
}
